.nav {
    max-width: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 25px;
    padding-top: 30px;
  }
  @media only screen and (max-width:550px){
    .nav{
      display: none;
    }
  }
  @media only screen and (max-width:1030px) and (min-width:549px){
    .nav{
      display: none;
    }
  }
  .nav img {
    display: block;
    max-width: 100%;
    cursor: pointer;
  }