.main__userprofile {
  width: 20%;
  padding: 0 20px 0 40px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 550px) {
  .main__userprofile {
    display: none;
  }
  .profile__card.open .card__content {
    display: block;
  }
  .profile__card.open .card__header i:before {
    content: "\f106";
  }
}
